.ScoreBoard {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
  height: 100%;
}

.circle {
  display: inline-block;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 50%;
  background-color: #850606;
  text-align: center;
  margin: 1px;
  font-size: 12px;
  border: 1px solid #fff; 
  color: white;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 0 0 0 2px #fff inset; 
}

.over-details {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.scoreboard-scroll {
  min-height: 135px;
  max-height: 100%;
  overflow-y: auto;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
}

/* Media query for desktops and larger screens */
@media (min-width: 1024px) {
  .ScoreBoard {
    margin: 0px 0;
  }

  .scoreboard-scroll {
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
  }
}
